/VEC-Scheduler-App/flask-server/dbmappers/__pycache__/
/VEC-Scheduler-App/flask-server/parsers/__pycache__/
/VEC-Scheduler-App/flask-server/services/__pycache__/
/VEC-Scheduler-App/flask-server/flask-venv/
/VEC-Scheduler-App/flask-server/venv/
/VEC-Scheduler-App/flask-server/flask-venv2/
/VEC-Scheduler-App/flask-server/__pycache__/
/VEC-Scheduler-App/react-ui/node_modules/
/VEC-Scheduler-App/react-ui/yarn.lock
/VEC-Scheduler-App/flask-server/.DS_Store
/VEC-Scheduler-App/.DS_Store
/VEC-Scheduler-App/flask-server/__pycache__/